.bg-light{background-color: purple;}
a {color:purple;
   font-weight:bold;}


   .form-group {color:purple;
                margin-left:500px;
                width:600px;
                height:200px;
            background-color:#e9249d;
        font-weight:bold;}

        #exampleFormControlTextarea1, #exampleFormControlInput1{margin-left:25px;
            width:75%; }

 